.logo{
    width: 18%;
    margin: auto;
    margin-top: 18%;
    text-align: center;
}

.logo img{
    width: 100%;
}

.logos{
    position: relative;
    width: 70%;
    height: 291px;
    margin: auto;
    margin-top: 33%;
    text-align: center;
}

.logos div{
    width: 16%;
}

.tamasbama-location{
    margin: auto;
}

.tamasbama-call{
    position: absolute;
    right: 0;
    top: 50%;
}

.tamasbama-message{
    position: absolute;
    left: 0;
    top: 50%;
}


.tamasbama-location p{
    font-size: 12px;
    margin-top: 7px;
}

.tamasbama-call p{
    font-size: 12px;
    margin-top: 7px;
}

.tamasbama-message p{
    font-size: 12px;
    margin-top: 7px;
}