.logo-product {
    margin: auto;
    width: 20%;
    margin-top: 17%;
}


.box-create{
    position: fixed;
    width: 100%;
    transform: translate(-57%,-50%);
    top: 57%;
    left: 50%;

}
.box-grouping{
    width: 85%;
    margin: auto;
    position: relative;
    margin-bottom: 180px;
}
.grouping-img {
    transform: translate(0,-50%);
    top: 50%;
    right: 0;
    width: 20%;
    position: absolute;
}
.grouping-text{
    line-height: 30px;
    font-size: 23px;
    margin-right: 22%;

}
.box-individuation{
    width: 85%;
    margin: auto;
    position: relative;
    margin-bottom: 70px;
    left: 2%;
}

.individuation-img{
    transform: translate(0,-50%);
    top: 50%;
    right: 0;
    width: 20%;
    position: absolute;

}


.individuation-text {
    line-height: 30px;
    font-size: 23px;
    margin-right: 22%;
}

a{
    color: #ff6732;
    text-decoration: none;
}