body {
    background-color: #2A2F3D;
    color: white;
    direction: rtl;
    text-align: right;
    font-size: 14px;
}

::placeholder {
    color: #2A2F3D;
}

main {
    padding: 0 15px;
}

ul,
li {
    padding: 0;
    margin: 0;
}

/* top icon */
.top-page-icon {
    margin: auto;
    width: 20%;
    margin-top: 17%;
    text-align: center;
}

.top-page-icon img {
    width: 100%;
}

.top-page-icon p {
    font-size: 14px;
}

/* end top icon */

/* toolbar */

.footer {
    background-color: #2C303B;
    width: 93%;
    height: 60px;
    border-radius: 108px;
    position: fixed;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
}

.footer p {
    margin-top: 4px;
}

.toolbar {
    /*box-shadow: whitesmoke 0px 0px 40px;*/
    box-shadow: rgba(168, 168, 168, 0.3) 0 0 40px;
}

.toolbar-icon-container {
    width: 23%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.toolbar-icon-link {
    position: relative;
    width: 50%;
    height: 50%;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 50%;
    color: white;
    display: inline-block;
    transition: .5s ease all;
}

.active-icon {
    color: #ff6732;
}

.toolbar-icon-link span {
    position: absolute;
    right: 50%;
    top: 35%;
    transform: translate(50%, -50%);
}

.toolbar-icon-link span i {
    font-size: 20px;
}

.toolbar-icon-link p {
    position: absolute;
    right: 50%;
    top: 80%;
    transform: translate(50%, -50%);
    font-size: 9px;
}

.have-message {
    text-shadow: #0bcbd5 0 0 20px;
}


/*  end toolbar  */


/* resposive */

@media (max-height: 1400px) {
    .footer {
        bottom: 0;
        height: 80px;
        max-width: 815px;

    }

    .p-homeimages {
        font-size: 16px;
    }

    .footer p {
        font-size: 16px;
    }

    .toolbar-icon-link span i {
        font-size: 24px;
    }
}

@media (max-height: 1366px) {
    .top-page-icon {
        width: 20%;
        text-align: center;
    }
    .top-page-icon p {
        font-size: 27px;
    }
}

@media (max-height: 1024px) {
    .top-page-icon {
        width: 20%;
        text-align: center;
    }
    .top-page-icon p {
        font-size: 23px;
    }
    .footer {
        bottom: -2%;
        height: 70px;
        max-width: 700px;
    }

    .p-homeimages {
        font-size: 14px;
    }

    .footer p {
        font-size: 14px;
    }

    .toolbar-icon-link span i {
        font-size: 22px;
    }

}

@media (max-height: 850px) {
    .footer {
        bottom: -2%;
        height: 60px;
    }

    .p-homeimages {
        font-size: 12px;
    }

    .footer p {
        font-size: 12px;
    }

    .toolbar-icon-link span i {
        font-size: 20px;
    }


}


@media (max-height: 823px) {
    .top-page-icon {
        width: 21%;
        margin-top: 17%;
    }
}

@media (max-height: 812px) {
    .top-page-icon {
        width: 23%;
        margin-top: 17%;
    }
    .top-page-icon p {
        font-size: 17px;
    }
}


@media (max-height: 800px) {
    .top-page-icon {
        width: 10%;
        margin-top: 5%;
    }
    .top-page-icon p {
        font-size: 18px;
    }
}

@media (max-height: 737px) {
    .top-page-icon {
        width: 20%;
        margin-top: 15%;
    }
}

@media (max-height: 731px) {
    .top-page-icon {
        width: 19%;
        margin-top: 15%;
    }
}

@media (max-height: 720px) {
    .top-page-icon {
        width: 17%;
        margin-top: 10%;
    }
    .top-page-icon p {
        font-size: 16px;
    }
}

@media (max-height: 667px) {
    .top-page-icon {
        width: 21%;
        margin-top: 14%;
    }
}

@media (max-height: 654px) {
    .top-page-icon {
        width: 26%;
        margin-top: 24%;
    }
    .top-page-icon p {
        font-size: 14px;
    }
}

@media (max-height: 640px) {
    .top-page-icon {
        width: 17%;
        margin-top: 16%;
    }
}

@media (max-height: 600px) {
    .top-page-icon {
        width: 11%;
        margin-top: 6%;
    }
    .top-page-icon p {
        font-size: 16px;
    }
}

@media (max-height: 568px) {
    .top-page-icon {
        width: 22%;
        margin-top: 16%;
    }
}