
/* responsive by height */

@media (max-height: 1400px){
    .logos{
        margin-top: 160px;
    }
    .logos div {
        width: 18%;
    }
    .tamasbama-call{
        top: 150%;
    }
    .tamasbama-message{
        top: 150%;
    }
    header p{
        font-size: 25px;
    }
    .tamasbama-call p{
        font-size: 25px;
    }
    .tamasbama-location p{
        font-size: 25px;
    }
    .tamasbama-message p{
        font-size: 25px;
    }
}

@media (max-height: 1024px){
    .logos{
        margin-top: 120px;
    }
    .logos div {
        width: 18%;
    }
    .tamasbama-call{
        top: 100%;
    }
    .tamasbama-message{
        top: 100%;
    }
    header p{
        font-size: 20px;
    }
    .tamasbama-call p{
        font-size: 20px;
    }
    .tamasbama-location p{
        font-size: 20px;
    }
    .tamasbama-message p{
        font-size: 20px;
    }
}

@media (max-height: 850px){
    .logos{
        margin-top: 150px;
    }
    .logos div {
        width: 18%;
    }
    .tamasbama-call{
        top: 80%;
    }
    .tamasbama-message{
        top: 80%;
    }

    header p{
        font-size: 16px;
    }
    .tamasbama-call p{
        font-size: 16px;
    }
    .tamasbama-location p{
        font-size: 16px;
    }
    .tamasbama-message p{
        font-size: 16px;
    }
}
@media (max-height: 820px){
    .logos{
        margin-top: 140px;
    }
    .logos div {
        width: 18%;
    }
    .tamasbama-call{
        top: 70%;
    }
    .tamasbama-message{
        top: 70%;
    }
}
@media (max-height: 740px){
    .logos{
        margin-top: 120px;
    }
    .tamasbama-message{
        top: 70%;
    }
    .tamasbama-call{
        top: 70%;
    }
    
    .logos div{
        width: 16%;
    }
}

@media (max-height: 690px){
    .logos{
        margin-top: 120px;
    }
    .tamasbama-message{
        top: 60%;
    }
    .tamasbama-call{
        top: 60%;
    }
    
    .logos div{
        width: 14%;
    }
    header p{
        font-size: 14px;
    }
    .tamasbama-call p{
        font-size: 14px;
    }
    .tamasbama-location p{
        font-size: 14px;
    }
    .tamasbama-message p{
        font-size: 14px;
    }
}

@media (max-height: 655px){
    .tamasbama-message{
        top: 50%;
    }
    .tamasbama-call{
        top: 50%;
    }
    .logos{
        margin-top: 100px;
    }
   
    .logos div{
        width: 14%;
    }
}

@media (max-height: 641px){
                    
}

@media (max-height: 600px){
    .logos{
        margin-top: 90px;
    }
    
}



